<ol class="post-list">
  {{#each posts as |post|}}
    <li>
      <article class="post card">
        <div class="title card-header">
          <h2>
            <a class="card-header" href="/post/{{post.id}}">{{post.title}}</a>
          </h2>
        </div>
        <div class="card-body">
          <p>
            {{post.contents}}
          </p>
          by
          {{post.user.username}}
          on
          {{post.created_at}}
          <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
        </div>
      </article>
    </li>
  {{/each}}
</ol>